<div id="<%= dom_id post %>">
  <p>
    <div class="post_title">Título:</div>
    <%= post.title %>
  </p>

  <p>
    <div class="post_description">Descrição:</div>
    <%= post.description %>
  </p>

</div>

